/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999


black : #030709
 brown darker: #B04A31
brown dark : #C8563B

brown light: 	#DC876B
brown lighter: #DFAFB2
brown lightest: #D39E93
  /*font-family: 'Domine', serif; */
:root {
  --black-color: #030709;
  --brown-darker: #b04a31;
  --brown-dark: #c8563b;
  --brown-light: #dc876b;
  --brown-lighter: #dfafb2;
  --brown-lightest: #d39e93;
  --color-grey-light: #faf9f9;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

/*@media only screen and (max-width: $bp-large) {
    font-size: 50%;*/
body {
  font-family: 'Kameron', serif;
  font-weight: 700;
  line-height: 1.6;
  color: var(--black-color);
  background-image: -webkit-gradient(linear, left top, right bottom, from(azure), to(white));
  background-image: linear-gradient(to right bottom, azure, white);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  max-width: 120 rem;
  margin: 4rem 1rem;
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 75em) {
  .container {
    margin-top: 0;
    max-width: 100%;
    width: 100%;
  }
}

.sidebar {
  background-color: var(--brown-dark);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13%;
          flex: 0 0 13%;
}

.recipe {
  background-color: var(--color-grey-light);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 56.25em) {
  .recipe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
  }
}

.img {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

@media screen and (max-width: 56.25em) {
  .img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    height: 30%;
    width: 100%;
  }
}

.side-cont {
  font-size: 0.8rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.side-cont__title {
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  padding: 0;
  margin: 0;
  font-size: 4rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin-top: 2rem;
  margin-right: -1.9rem;
  text-shadow: 3rem;
}

.side-cont__prep {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  text-align: center;
  text-align: center;
}

.side-cont__nutri {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  text-align: center;
}

.side-cont__garnish {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12%;
          flex: 0 0 12%;
  text-align: center;
  margin: 2rem;
}

.side-cont__suggestion {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12%;
          flex: 0 0 12%;
  text-align: center;
  margin: 2rem;
}

.side-cont__num {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 3rem;
}

.side-cont__time {
  background-color: white;
  height: 4rem;
  width: 4rem;
  border-radius: 95%;
}

.side-cont__pyramid {
  height: 4rem;
  width: 4rem;
}

.side-cont__butcher {
  height: 5rem;
  width: 5rem;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.side-cont__suggest {
  fill: black;
  height: 4rem;
  width: 4rem;
  border: 2px;
  border-color: black;
}

ol {
  list-style: none;
  counter-reset: li;
}

ol li::before {
  content: counter(li);
  color: var(--brown-dark);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ol li {
  counter-increment: li;
}

.li-color {
  color: var(--brown-darker);
  font-weight: bolder;
}

td {
  width: 50%;
}

.recipe-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}

.recipe-main-h1 {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.recipe-main-h1__style1 {
  position: relative;
  z-index: 1;
  font-size: 6rem;
  font-weight: 900;
  font-stretch: ultra-expanded;
}

.recipe-main-h1__style2 {
  top: 10.8rem;
  position: absolute;
  font-size: 3.7rem;
  font-weight: 900;
  color: var(--brown-dark);
  -webkit-transform: scaleY(1.8);
          transform: scaleY(1.8);
  padding-left: 0.5rem;
}

@media screen and (max-width: 75em) {
  .recipe-main-h1__style2 {
    margin-top: -4rem;
  }
}

@media screen and (max-width: 56.25em) {
  .recipe-main-h1__style2 {
    margin-top: 46rem;
  }
}

@media screen and (max-width: 37.5em) {
  .recipe-main-h1__style2 {
    margin-top: 39.5rem;
  }
}

@media screen and (max-width: 31.25em) {
  .recipe-main-h1__style2 {
    margin-top: 41.3rem;
  }
}

.recipe-main-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  font-size: 1.1rem;
  padding-bottom: 2rem;
  font-style: italic;
  font-weight: bold;
}

.recipe-main-table {
  border-collapse: collapse;
  border-bottom: 1px solid var(--brown-dark);
  width: 100%;
}

.recipe-main-row-1 {
  background-color: var(--brown-darker);
  color: white;
  text-align: left;
  width: 5rem;
}

.recipe-main-row-2 {
  width: 5rem;
  padding: 0;
  margin: 0;
}

.recipe-main-ul1 {
  text-align: left;
  padding-left: 10px;
  padding-top: 1rem;
}

.recipe-main-ul2 {
  color: var(--brown-dark);
  text-align: left;
  list-style: none;
  padding-left: 1rem;
  margin-top: -30%;
  font-size: 1.2rem;
}

@media screen and (max-width: 75em) {
  .recipe-main-ul2 {
    margin-top: -80%;
  }
}

@media screen and (max-width: 56.25em) {
  .recipe-main-ul2 {
    margin-top: -25%;
  }
}

@media screen and (max-width: 37.5em) {
  .recipe-main-ul2 {
    margin-top: -60%;
  }
}

@media screen and (max-width: 31.25em) {
  .recipe-main-ul2 {
    margin-top: -50%;
  }
}

.recipe-main-fact {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: var(--brown-dark);
  padding-left: 45rem;
  padding-right: 3rem;
}

th {
  padding-left: 2px;
}

.morebold {
  font-size: 3rem;
  font-weight: 700;
  float: left;
  border: 0;
  padding-right: 0.5rem;
  margin-top: -0.4rem;
  padding-bottom: 0;
  margin-bottom: -1.5rem;
  -webkit-transform: scaleY(1.5);
          transform: scaleY(1.5);
  font-weight: 900;
}
/*# sourceMappingURL=mainstyle.css.map */